.accountPage {
  background-color: var(--neutral-25);
  .userAvatar {
    margin-bottom: 15px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: calc(100% + 8px);
      height: calc(100% + 8px);
      top: 50%;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid var(--primary-color);
    }
  }
  .userName {
    font-size: 20px;
    font-weight: 700;
    // color: var(--primary-color)
  }
}
